@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title {
  font-size: 3rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.section-title span {
  color: crimson;
}

.btn {
  margin-top: 30px;
  padding: 10px 30px;
  background-color: transparent;font-size: 1.5rem;
  border: 2px solid crimson;
  border-radius: 15px;
  transition: all 0.35s;
}

.btn:hover {
  color: white;
  background-color: crimson;
  cursor: pointer;
}

.logo h1{
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

.logo h1 span {
  color: crimson;
}

ul {
  list-style-type: none;
}

/* Header section  */
.main-header {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 8vh;
  background-color: rgb(31, 30, 30);
}

.main-header .navbar {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-header .nav-list ul {
  font-size: 1.2rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.main-header .nav-list ul a {
  color: white;
  font-weight: 500;
}
.main-header .nav-list ul a:hover {
  color: crimson;
}

/* Hero section  */
#hero {
	background-image: url(./img/bg.webp);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

#hero h1{
  color: white;
  font-size: 3rem;
  text-align: center;
}

#hero .btn {
  color: white;
}

/* End Hero section  */

/* Projects section  */
#projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
  font-size: 1rem;
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section  */

/* About section  */
#about {
  margin: 0 auto;
  padding: 100px 20px;
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
}

#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
  font-size: 1rem;
  line-height: 1.5rem;
}
#about .col-right .btn {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
/* End About Section  */

/* Footer section  */
.main-footer {
  background-color: rgb(31, 30, 30);
  min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
.main-footer .social-items{
  display: flex;
}

.main-footer p {
	color: white;
	font-size: 1rem;
}


/* Media Query for tablet  */
@media only screen and (min-width: 768px) {
  .btn {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 5rem;
	}

  .main-header .navbar {
    flex-direction: row;
    justify-content: space-around;
  }
	#hero h1 {
		font-size: 5rem;
	}

  #projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}

  #about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
  #about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
}
/* End Media Query for tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  .main-header .nav-list ul {
    gap: 50px;
  }
}
/* End Media Query for Desktop */


